.gridpane {
-fx-background-color: #27374D;
}

.button {
-fx-background-color: #526D82;
-fx-text-fill: #DDE6ED;
}

.button:hover {
-fx-background-color: #164B60;
-fx-text-fill: #DDE6ED;
}

.label {
/*-fx-background-color: #1B6B93;*/
-fx-background-color: #256D85;

-fx-text-fill: white;
}

.label .text {
    -fx-fill: white;
}

#buttonRepeatSwitch {
-fx-background-color: #3C486B;
-fx-text-fill: #61677A
}
