.gridpane {
-fx-background-color: #27374D;
}

.button {
-fx-background-color: #526D82;
-fx-text-fill: #DDE6ED;
}

.label {
-fx-background-color: #9DB2BF;
-fx-text-fill: white;
}

.label .text {
    -fx-fill: white;
}

