.gridpane {
-fx-background-color: #27374D;
}

.button {
-fx-background-color: #526D82;
-fx-text-fill: #DDE6ED;
}

.button:hover {
-fx-background-color: #164B60;
-fx-text-fill: #DDE6ED;
}

.label {
-fx-background-color: #256D85;

-fx-text-fill: white;
-fx-border-radius: 50px;
}

.label .text {
    -fx-fill: white;
}

#buttonBackspace {
   -fx-background-image: url("bsp.png");
   -fx-background-repeat: stretch;
   -fx-background-size: 25 19;
   -fx-background-position:  center 20;
}

